### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
CSVfile = "purchase.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata = pd.read_csv(CSVfile)
purchasedata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
playercount = len(purchasedata["SN"].unique())
playercountdf = pd.DataFrame({"number of players" : [playercount]})
playercountdf

   number of players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [3]:
purchases = len(purchasedata)
uniqueitmes = len(purchasedata["Item Name"].unique())
Revenue = sum(purchasedata["Price"])
avgprice = purchasedata["Price"].mean()
summary = pd.DataFrame({"Number of Unique Items" : [uniqueitmes], "Average Price" : [avgprice], "Number of Purchases" : [purchases], "Total Revenue" : [Revenue] })
summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gdc = purchasedata.groupby(["SN"])
#gendercounts = gdc["Gender"].value_counts()
gendercounts = purchasedata["Gender"].value_counts()
percent = gendercounts/len(purchasedata) *100


gendercandp = pd.DataFrame({"Total Count" : gendercounts, "Percentage of Players" : percent})
gendercandp

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasecount = purchasedata["Gender"].value_counts()
gendergrp = purchasedata.groupby(["Gender"])
avgprice = gendergrp["Price"].mean()
totalpurchase = gendergrp["Price"].sum()

purchag = pd.DataFrame({"Purchase Count" : purchasecount, "Average Purchase Price" : avgprice, "Total Purchase Value" : totalpurchase})
purchag

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [9, 14, 19, 24, 29, 34, 39]
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39", "40+"]
purchasedataage = pd.cut(purchasedata["Age"], bins, labels)
purchasedataage


#cut_points = [90,140,190]
#labels = ["low","medium","high","very high"]
#data["LoanAmount_Bin"] = binning(data["LoanAmount"], cut_points, labels)
#print pd.value_counts(data["LoanAmount_Bin"], sort=False)

0      (19, 24]
1           NaN
2      (19, 24]
3      (19, 24]
4      (19, 24]
5      (19, 24]
6      (34, 39]
7      (19, 24]
8      (19, 24]
9      (34, 39]
10     (19, 24]
11     (19, 24]
12     (19, 24]
13     (19, 24]
14     (34, 39]
15     (19, 24]
16     (19, 24]
17     (19, 24]
18     (19, 24]
19     (29, 34]
20     (19, 24]
21     (19, 24]
22     (34, 39]
23          NaN
24     (29, 34]
25     (24, 29]
26      (9, 14]
27          NaN
28     (19, 24]
29     (19, 24]
         ...
750    (19, 24]
751     (9, 14]
752    (14, 19]
753    (34, 39]
754    (19, 24]
755     (9, 14]
756    (19, 24]
757    (14, 19]
758    (19, 24]
759    (24, 29]
760    (19, 24]
761         NaN
762    (24, 29]
763    (19, 24]
764    (14, 19]
765    (14, 19]
766    (19, 24]
767         NaN
768    (34, 39]
769    (14, 19]
770    (29, 34]
771    (14, 19]
772    (24, 29]
773    (19, 24]
774     (9, 14]
775    (19, 24]
776    (19, 24]
777    (19, 24]
778         NaN
779    (19, 24]
Name: Age, Length: 780, dtype: category
Categories (6, interval[int64]): [(9, 14] < (14, 19] < (19, 24] < (24, 29] < (29, 34] < (34, 39]]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame